* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}
:root {
  /* Mode 1 */
  /* colors */
  --border-accent: var(--color-red-300);
  --border-dark: var(--color-mud-700);
  --color-mud-100: #b8b7b7;
  --color-mud-200: #989797;
  --color-mud-300: #7e7d7d;
  --color-mud-400: #686767;
  --color-mud-500: #565555;
  --color-mud-600: #474646;
  --color-mud-700: #3b3a3a;
  --color-red-100: #f7e7ea;
  --color-red-300: #ce3150;
  --color-red-400: #b02a45;
  --color-red-500: #6f303d;
  --color-red-600: #532b33;
  --color-red-700: #3e252a;
  --color-white-100: #ffffff;
  --color-white-100-30: #ffffff4d;
  --color-green-100: #007c79;

  /* numbers */
  --border-2: 0.125rem;
  --border-3: 0.1875rem;
  --border-4: 0.25rem;
  --border-8: 0.5rem;
  --border-16: 1rem;
  --border-24: 1.5rem;
  --border-32: 2rem;
  --border-64: 4rem;
  --border-128: 8rem;
  --spacing-0: 0rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-8: 0.5rem;
  --spacing-16: 1rem;
  --spacing-24: 1.5rem;
  --spacing-32: 2rem;
  --spacing-44: 2.75rem;
  --spacing-64: 4rem;
  --spacing-128: 8rem;
  --spacing-252: 16rem;
}
:root {
  /* Mode 1 */
  /* colors */
  --button-primary-default-text: var(--color-white-100);
  --button-primary-defsult-surface: var(--color-red-300);
  --button-secondary-default-border: var(--color-red-300);
  --button-secondary-default-surface: #ffffff;
  --button-secondary-default-text: var(--color-red-300);
  --button-secondary-hover-surface: var(--color-red-100);
  --button-secondary-hover-text: var(--color-red-100);
  --infocard-surface: var(--color-white-100);
  --input-primary-active-border: var(--color-red-300);
  --input-primary-active-text: var(--color-mud-700);
  --input-primary-default-border: var(--color-mud-700);
  --input-primary-default-text: var(--color-mud-700);
  --input-primary-hover-surface: var(--color-white-100-30);
  --input-secondary-default-border: var(--color-mud-200);
  --input-secondary-hover-surface: var(--color-white-100);
  --price-button-active-surface: var(--color-red-300);
  --price-button-active-text: var(--color-white-100);
  --price-button-default-border: var(--color-mud-700);
  --price-button-default-surface: var(--color-white-100);
  --price-button-default-text: var(--color-mud-700);
  --price-button-hover-border: var(--color-mud-700);
  --price-button-hover-surface: var(--color-white-100-30);
  --price-button-hover-text: var(--color-mud-700);
  --radio-button-active-surface: var(--color-red-300);
  --radio-button-default-border: var(--color-mud-700);
  --radio-button-inactive-surface: var(--color-white-100);
  --radio-button-text: var(--color-mud-700);
  --surface-brand: var(--color-red-300);
  --surface-primary: var(--color-white-100);
  --surface-secondary: var(--color-red-100);
  --surface-tertiary: var(--color-mud-700);
  --text-accent: var(--color-white-100);
  --text-label: var(--color-mud-200);
  --text-link: var(--color-mud-300);
  --text-placeholder: var(--color-mud-200);
  --text-primary: var(--color-mud-700);
  --text-header: var(--color-white-100);
}
@font-face {
  font-family: "rubik";
  src: url("/fonts/Rubik-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "rubikregular";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "rubiksemibold";
  src: url("/fonts/Rubik-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "rubikitalic";
  src: url("/fonts/Rubik-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "campton";
  src: url("/fonts/CamptonSemiBold.woff2");
}

/************ Mobile ************/

@media (max-width: 599px) {
  h1 {
    font-family: "campton";
    font-size: 26px;
    color: var(--text-header);
  }

  h2 {
    font-family: "campton";
    font-size: 22px;
    color: var(--text-primary);
  }

  h3 {
    font-family: "campton";
    font-size: 18px;
    color: var(--text-primary);
  }

  h4 {
    font-family: "campton";
    font-size: 16px;
    color: var(--text-primary);
  }

  a {
    font-family: "rubiksemibold";
    font-size: 15px;
    text-decoration: none;
  }

  input::placeholder {
    font-family: "rubik";
    font-weight: 200;
    font-size: 15px;
    color: var(--text-placeholder);
  }
  input {
    border: 1px solid var(--input-secondary-default-border);
  }
  label {
    font-family: "rubiksemibold";
    font-size: 15px;
    color: var(--text-label);
    padding-bottom: var(--spacing-2);
  }

  p {
    font-family: "rubik";
    font-size: 15px;
    color: var(--color-mud-400);
    font-weight: 200;
  }
  .citat {
    font-family: "rubikitalic";
    font-size: 12px;
  }
}

/************ Web ************/
@media (min-width: 1025px) {
  h1 {
    font-family: "campton";
    font-size: 60px;
    color: var(--text-header);
  }

  h2 {
    font-family: "campton";
    font-size: 38px;
    color: var(--text-primary);
  }

  h3 {
    font-family: "campton";
    font-size: 26px;
    color: var(--text-primary);
  }

  h4 {
    font-family: "campton";
    font-size: 22px;
    color: var(--text-primary);
  }

  a {
    font-family: "rubiksemibold";
    font-size: 20px;
  }

  input {
    border: 1px solid var(--input-secondary-default-border);
  }
  label {
    font-family: "rubiksemibold";
    font-size: 18px;
    color: var(--text-label);
    padding-bottom: var(--spacing-4);
  }

  p {
    font-family: "rubik";
    font-size: 18px;
    color: var(--color-mud-400);
    font-weight: 200;
  }
  .citat {
    font-family: "rubikitalic";
    font-size: 16px;
  }
}

/************ Tablet ************/
@media (min-width: 600px) and (max-width: 1024px) {
  h1 {
    font-family: "campton";
    font-size: 26px;
    color: var(--text-header);
  }

  h2 {
    font-family: "campton";
    font-size: 32px;
    color: var(--text-primary);
  }

  h3 {
    font-family: "campton";
    font-size: 28px;
    color: var(--text-primary);
  }

  h4 {
    font-family: "campton";
    font-size: 16px;
    color: var(--text-primary);
  }

  a {
    font-family: "rubiksemibold";
    font-size: 15px;
  }

  input::placeholder {
    font-family: "rubik";
    font-weight: 200;
    font-size: 16px;
    color: var(--text-placeholder);
  }
  input {
    border: 1px solid var(--input-secondary-default-border);
  }
  label {
    font-family: "rubiksemibold";
    font-size: 18px;
    color: var(--text-label);
    padding-bottom: var(--spacing-4);
  }

  p {
    font-family: "rubik";
    font-size: 20px;
    font-weight: 200;
    color: var(--color-mud-400);
  }
  .citat {
    font-family: "rubikitalic";
    font-size: 16px;
  }
}
