---
import Button from "../Button.astro";
import Prisbutton from "../Prisbutton.astro";
---

<section>
  <div class="pris">
    <Prisbutton title="100" />
    <Prisbutton title="200" />
    <Prisbutton title="300" color="var(--border-accent)" />
  </div>
  <input type="text" placeholder="Andet beløb" />
  <Button variant="primary" title="STØT NU" link="/formular/step1" />
</section>
<style>
  @media (max-width: 599px) {
    section {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-24);
      background-color: rgba(255, 255, 255, 0.72);
      padding-block: var(--spacing-44);
      align-items: center;
      justify-content: center;
    }
    input {
      color: var(----text-primary);
      padding: var(--spacing-16) var(--spacing-24);
      border-radius: var(--border-64);
      text-align: center;
      border: 2px solid var(--input-primary-default-border);
      min-width: 150px;
      position: relative;
      box-sizing: border-box;
      background-color: transparent;
      font-size: 16px;
    }
    input::placeholder {
      color: var(--color-mud-700);
      font-size: 16px;
      font-family: "rubiksemibold";
      text-align: center;
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    section {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-44);
      background-color: rgba(255, 255, 255, 0.72);
      padding-block: var(--spacing-44);
      align-items: center;
      justify-content: center;
    }
    input {
      padding: var(--spacing-16);
      border-radius: var(--border-64);
      text-align: center;
      border: 2px solid var(--input-primary-default-border);
      min-width: 165px;
      background-color: transparent;
    }
    input::placeholder {
      color: var(--color-mud-700);
      font-size: 18px;
      font-family: "rubiksemibold";
    }
  }

  @media (min-width: 1025px) {
    section {
      display: flex;
      gap: var(--spacing-64);
      background-color: rgba(255, 255, 255, 0.72);
      padding-block: var(--spacing-64);
      align-items: center;
      justify-content: center;
    }
    input {
      min-height: var(--spacing-64);
      border-radius: var(--border-64);
      text-align: center;
      border: 2px solid var(--input-primary-default-border);
      min-width: 180px;
      background-color: transparent;
    }
    input::placeholder {
      color: var(--color-mud-700);
      font-size: 22px;
      font-family: "rubiksemibold";
      text-align: center;
    }
  }
  .pris {
    display: flex;
    gap: var(--spacing-24);
  }
</style>
