---
import Menu from "./Menu.astro";
const { titel, variant } = Astro.props;
---

<header class={variant}>
  <Menu class="menu" />
  <h1>{titel}</h1>
</header>

<style>
  /************ Mobile ************/
  @media (max-width: 599px) {
    header.landingpage.mobil {
      background-image: url(../../assets/images/header_mobil.png);
      background-size: cover;
      height: 100%;
    }
    .om_os.mobil {
      background-image: url(../../assets/images/om_os_mobile.png);
      background-size: cover;
    }
    h1 {
      padding-block: var(--spacing-128);
      padding-right: var(--spacing-64);
      padding-left: var(--spacing-24);
      animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  /************ Tablet ************/
  @media (min-width: 600px) and (max-width: 1024px) {
    .landingpage.web {
      background-image: url(../../assets/images/header.png);
      background-size: cover;
    }
    .om_os.web {
      background-image: url(../../assets/images/om_os.png);
      background-size: cover;
    }
    h1 {
      padding-block: var(--spacing-128);
      padding-right: var(--spacing-252);
      padding-left: var(--spacing-24);
      animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }

  /************ Web ************/
  @media (min-width: 1025px) {
    .landingpage.web {
      background-image: url(../../assets/images/header.png);
      background-size: cover;
    }
    .om_os.web {
      background-image: url(../../assets/images/om_os.png);
      background-size: cover;
    }
    h1 {
      padding-block: var(--spacing-128);
      padding-right: var(--spacing-252);
      padding-left: var(--spacing-24);
      animation: slide-in-left 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  @keyframes slide-in-left {
    0% {
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
</style>
