---
import Menu from "./Menu.astro";
import FormHeader from "./FormHeader.astro";
const { titel, variant } = Astro.props;
---

<header class={variant}>
  <Menu />
  <h1>{titel}</h1>
  <FormHeader />
</header>
<style>
  @media (max-width: 700px) {
    header .landingpage,
    .mobil {
      background-image: url(../../assets/images/header_mobil.png);
      background-size: cover;
    }
    .om_os {
      background-image: url(../../assets/images/om_os_mobile.png);
      background-size: cover;
    }
  }
  @media (min-width: 700px) {
    .landingpage {
      background-image: url(../../assets/images/header.png);
      background-size: cover;
    }
    .om_os {
      background-image: url(../../assets/images/om_os.png);
      background-size: cover;
    }
  }
</style>
