---
import Menu from "./Menu.astro";
import FormHeader from "./FormHeader.astro";
---

<header class="landingpage mobil">
  <Menu />
  <h1>Juleglæde for en Bæredygtig Fremtid: Giv Dit Bidrag til en Verden uden Plastik!</h1>
  <FormHeader />
</header>
<style>
  @media (max-width: 700px) {
    header .landingpage,
    .mobil {
      background-image: url(../../assets/images/header_mobil.png);
      background-size: cover;
    }
  }
</style>
