---
import { Image } from "astro:assets";
import logo from "../../assets/images/logo.png";
import Button from "../Button.astro";
---

<nav>
  <ul>
    <li><a href="/"><Image class="logo" src={logo} alt="logo" /></a></li>
    <li class="knap">
      <li><a href="/omos">Om os</a></li>
      <li><Button link="/" title="Støt" /></li>
    </li>
  </ul>
</nav>

<style>
  /************ Mobile ************/
  @media (max-width: 599px) {
    .logo {
      width: 60%;
      height: auto;
    }
  }

  /************ Tablet ************/
  @media (min-width: 600px) and (max-width: 1024px) {
    .logo {
      width: 70%;
      height: auto;
    }
  }

  /************ Web ************/
  @media (min-width: 1025px) {
    .logo {
      width: 80%;
      height: auto;
    }
  }
  ul {
    display: flex;
    align-items: top;
    margin-top: 1rem;
    margin: 20px;
    justify-content: space-between;
    list-style: none;
  }
  a {
    color: var(--color-white-100);
  }
  .knap {
    justify-content: end;
  }
</style>
