---
import { Image } from "astro:assets";
import logo from "../../assets/images/logo.png";
import Button from "../Button.astro";
const { variant } = Astro.props;
---

<nav class={variant}>
  <ul>
    <li><a href="/"><Image class="logo" src={logo} alt="logo" /></a></li>
    <div class="knap">
      <li><a href="/omos">Om os</a></li>
      <li><Button link="/" title="Støt" variant="primary" /></li>
    </div>
  </ul>
</nav>

<style>
  /************ Mobile ************/
  @media (max-width: 599px) {
    .logo {
      width: 60%;
      height: auto;
    }
    .form {
      background-image: url(../../assets/images/form_bg.png);
      width: 100%;
    }
  }

  /************ Tablet ************/
  @media (min-width: 600px) and (max-width: 1024px) {
    .logo {
      width: 70%;
      height: auto;
    }
    .form {
      background-image: url(../../assets/images/form_bg.png);
      width: 100%;
    }
  }

  /************ Web ************/
  @media (min-width: 1025px) {
    .logo {
      width: 80%;
      height: auto;
    }
    .form {
      background-image: url(../../assets/images/form_bg.png);
      width: 100%;
    }
  }
  ul {
    display: flex;
    align-items: center;
    padding: var(--spacing-16);
    justify-content: space-between;
    list-style: none;
  }
  a {
    color: var(--color-white-100);
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .knap {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-24);
  }
</style>
