---
const { title, link, variant } = Astro.props;
---

<div class={variant}>
  <a href={link}><span>{title}</span></a>
</div>

<style>
  div {
    margin: var(--spacing-16);
  }
  a {
    width: 100%;
    border: none;
    background: transparent;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
  }

  .primary {
    background-color: var(--button-primary-defsult-surface);
    border-radius: var(--border-64);
    padding: var(--spacing-16) var(--spacing-32);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    box-sizing: border-box;
  }

  span.arrow {
    color: white;
  }

  span.primary {
    color: white;
  }

  .arrow {
    color: var(--button-primary-default-text);
    background-color: var(--button-primary-defsult-surface);
    border-radius: var(--border-64);
    padding: var(--spacing-16) var(--spacing-32);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    box-sizing: border-box;
    min-width: 165px;
  }

  .secondary {
    color: var(--button-secondary-default-text);
    background-color: var(--button-secondary-defsult-surface);
    border-radius: var(--border-64);
    border: 3px solid var(--button-secondary-default-border);
    padding: var(--spacing-16) var(--spacing-32);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    box-sizing: border-box;
  }

  @media (max-width: 599px) {
    .primary {
      background-color: var(--button-primary-defsult-surface);
      border-radius: var(--border-64);
      padding: var(--spacing-16) var(--spacing-24);
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
    }
    .secondary {
      color: var(--button-secondary-default-text);
      background-color: var(--button-secondary-defsult-surface);
      border-radius: var(--border-64);
      border: 3px solid var(--button-secondary-default-border);
      padding: var(--spacing-16) var(--spacing-24);
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
    }

    .arrow {
      color: var(--button-primary-default-text);
      background-color: var(--button-primary-defsult-surface);
      border-radius: var(--border-64);
      padding: var(--spacing-16) var(--spacing-24);
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
      min-width: 125px;
      text-align: center;
    }
  }
</style>
