---
const { title, link, variant } = Astro.props;
---

<div>
  <a class={variant} href={link}><span>{title}</span></a>
</div>

<style>
  a {
    width: 100%;
    border: none;
    background: transparent;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
  }

  a.primary {
    color: var(--button-primary-default-text);
    background-color: var(--button-primary-defsult-surface);
    border-radius: var(--border-64);
    padding: 19px var(--spacing-44);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    text-align: center;
    min-width: 180px;
    min-height: var(--spacing-64);
    transition: transform 0.2s ease;
  }

  a.primary:hover {
    transform: scale(1.1);
  }
  .arrow {
    color: var(--button-primary-default-text);
    background-color: var(--button-primary-defsult-surface);
    border: 3px solid var(--button-secondary-default-border);
    border-radius: var(--border-64);
    padding: var(--spacing-16) var(--spacing-32);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    box-sizing: border-box;
    min-width: 165px;
    text-align: center;
  }

  .secondary {
    color: var(--button-secondary-default-text);
    background-color: var(--button-secondary-defsult-surface);
    border-radius: var(--border-64);
    border: 3px solid var(--button-secondary-default-border);
    padding: var(--spacing-16) var(--spacing-32);
    cursor: pointer;
    position: relative;
    font-size: 22px;
    min-width: 180px;
    box-sizing: border-box;
  }

  .secondary:hover {
    background-color: var(--button-secondary-hover-surface);
    border: 3px solid var(--button-secondary-default-border);
    color: var(--button-secondary-default-text);
  }
  .arrow:hover {
    background-color: var(--color-red-400);
    border: 3px solid var(--color-red-400);
  }

  @media (max-width: 599px) {
    .primary {
      color: var(--button-primary-default-text);
      background-color: var(--button-primary-defsult-surface);
      border-radius: var(--border-64);
      padding: var(--spacing-16) 40px;
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
      min-width: 150px;
    }
    .secondary {
      color: var(--button-secondary-default-text);
      background-color: var(--button-secondary-defsult-surface);
      border-radius: var(--border-64);
      border: 3px solid var(--button-secondary-default-border);
      padding: var(--spacing-16) var(--spacing-24);
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
      min-width: 150px;
    }

    .arrow {
      color: var(--button-primary-default-text);
      background-color: var(--button-primary-defsult-surface);
      border-radius: var(--border-64);
      border: 3px solid var(--button-secondary-default-border);
      padding: var(--spacing-16) var(--spacing-24);
      cursor: pointer;
      position: relative;
      font-size: 16px;
      box-sizing: border-box;
      text-align: center;
      min-width: 150px;
    }
  }
</style>
