<section>
  <div class="spalter">
    <div class="spalte1">
      <h4 class="kontakt">Kontakt information</h4>
      <p>
        Mail <br />info@plasticchange.org <br />Tlf. +45 42 66 72 46 <br />Telefontid: <br /> Mandag – Fredag, 10:00 – <br /> 15:00 <br />
        Website af Savage Studio <br />
        © 2023 Plastic Change
      </p>
    </div>

    <div class="spalte2">
      <h4 class="stoet_nu">STØT NU</h4>
      <p>
        Giv et bidrag <br />
        Bliv medlem <br />
        Lav et testamente <br />
        Støt som virksomhed
      </p>
    </div>

    <div class="spalte3">
      <h4 class="bank">Bank</h4>
      <p>
        CVR: 35778985 <br />
        Konto. <br /> 8411 0002039618 <br />
        MobilePay. 304961 <br /> SWIFT. FAELDKK1 <br />
        IBAN: <br /> DK3584110002039618
      </p>
    </div>
  </div>
</section>

<style>
  .spalter {
    display: flex;
    justify-content: center;
    gap: 120px;
    margin-top: var(--spacing-64);
    margin-left: var(--spacing-128);
    background-color: var(--color-red-100);
    padding: --spacing-24;
    width: 100%;
  }

  .spalte1,
  .spalte2,
  .spalte3 {
    width: 300px;
    padding: var(--spacing-16);
    margin: var(--spacing-44);
  }
</style>
