<section>
  <h4>
    Bliv årets mest mindeværdige gavegiver under juletræet ved at bekæmpe
    plastikforurening!
  </h4>
  <p>
    Plastikforureningen tager ingen julepause, men du kan være med til at gøre
    en forskel. Overrask din miljøbevidste veninde, den person, der hævder ikke
    at mangle noget, eller forkæl dig selv med en meningsfuld julegave, der
    beskytter havet og dyrene mod plastikforurening. Nu har du chancen for at
    sprede juleglæde og samtidig støtte Plastic Change med en unik julegave, der
    bidrager til bevarelse af vores miljø. Vælg blot den gave, du ønsker at
    give, og vi tager os af resten.
  </p>
  <p>
    Et julestøttebevis fås allerede fra 100 kr. Ønsker du at inkludere et flot
    krus, koster det 450 kr., og hele beløbet går direkte til kampen mod
    plastikforurening i verdenshavene og naturen. Gør din julegave meningsfuld
    og bæredygtig – vær med til at skabe en positiv forskel for vores planet.
  </p>
</section>
<style>
  section {
    justify-content: center;
    align-items: center;
  }

  p {
    width: 500px;
    margin: 0;
    margin-top: var(--spacing-44);
  }
  h4 {
    width: 500px;
    margin: 0;
    margin-top: var(--spacing-44);
  }
</style>
