---
const { label, placeholder } = Astro.props;
---

<div>
  <label>{label} <span>*</span></label>
  <input type="text" class="border" placeholder={placeholder} />
</div>
<style>
  span {
    color: var(--surface-brand);
  }
  @media (max-width: 599px) {
    div {
      display: flex;
      flex-direction: column;
      margin-inline: var(--spacing-32);
    }

    input {
      min-width: 325px;
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-4);
      border-radius: var(--border-4);
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    div {
      display: flex;
      flex-direction: column;
      margin-inline: var(--spacing-24);
    }

    input {
      min-width: 280px;
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-8);
      border-radius: var(--border-4);
    }
  }
  @media (min-width: 1025px) {
    div {
      display: flex;
      flex-direction: column;
    }
    input {
      min-width: 325px;
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-8);
      border-radius: var(--border-4);
    }
  }
</style>
