---
const { label, placeholder } = Astro.props;
---

<div>
  <label>{label}</label>
  <input type="text" class="border" placeholder={placeholder} />
</div>
<style>
  @media (max-width: 599px) {
    div {
      display: flex;
      flex-direction: column;
      width: 325px;
      margin-inline: var(--spacing-32);
    }

    input {
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-4);
      border-radius: var(--border-4);
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    div {
      display: flex;
      flex-direction: column;
      max-width: 450px;
      margin-inline: var(--spacing-64);
    }

    input {
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-8);
      border-radius: var(--border-4);
    }
  }
  @media (min-width: 1025px) {
    div {
      display: flex;
      flex-direction: column;
      max-width: 600px;
    }
    input {
      padding-block: var(--spacing-4);
      padding-left: var(--spacing-8);
      border-radius: var(--border-4);
    }
  }
</style>
