---
import { Image } from "astro:assets";
import julekugler from "../assets/images/julekugler.svg";
---

<h2>Hvad støtter du blandt andet til <br /> med din julegave</h2>

<article class="stoette">
  <section class="alt_tekst">
    <h4>Langt størstedelen af din støtte går til hav- og miljøindsatse</h4>
    <p class="tekst">Først og fremmest støtter du op om vores initiativer inden for hav- og miljøindsatser. Dette indebærer konkrete handlinger for at reducere plastikforurening, både lokalt i Danmark og på internationalt plan. Vi oplyser, deler viden og arrangerer events, undervisning og foredrag for at mobilisere og engagere en voksende Plastic Changer-bevægelse. Denne bevægelse er allerede i gang og arbejder aktivt for at skabe positive forandringer.</p>
    <a href="laes mere">læs mere</a>

    <h4>Din støtte går også til gennemførelsen af årlig oprydning.</h4>
    <p class="tekst">For det andet støtter du vores lederskab i gennemførelsen af årlige oprydninger i naturen. Dette sker i samarbejde med andre organisationer fra hele verden. Din støtte bidrager dermed til konkrete handlinger, der hjælper med at bevare og beskytte vores naturområder</p>
    <a href="laes mere">læs mere</a>

    <h4>Din støtte går også til at lægge politisk pres.</h4>
    <p class="tekst">En del af din støtte går også til at lægge politisk pres for bedre miljølovgivning, der værner om kloden og dens ressourcer.</p>
    <a href="laes mere">læs mere</a>

    <h4>
      Din støtte går til fundraising, indsamlinger samt <br /> et lillebidrag til at plastic change har et sted at bo.
    </h4>
    <p class="tekst">En mindre del går til fundraising og indsamlinger, så Plastic Changer bevægelsen kan blive ved med at vokse. Og så går en lille del til administration, og til at give Plastic Change et sted at bo</p>
    <a href="laes mere">læs mere</a>
  </section>
  <div>
    <Image class="julekugler" src={julekugler} alt="julekugler" />
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>

    <dotlottie-player src="https://lottie.host/13e52b99-5ec4-48bd-905a-c5c9147732b3/Wxw4wrfH1o.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
  </div>
</article>

<section class="flex baggrund"></section>

<style>
  @media (min-width: 900px) {
    article {
      display: flex;
      text-align: center;
      gap: var(--spacing-64);
    }

    .baggrund {
      background-color: #f5eaec;
    }

    h2 {
      text-align: center;
      margin-top: var(--spacing-64);
    }
    /* h3 {
      text-align: center;
    } */
    .tekst {
      text-align: left;
      width: 700px;
      margin-bottom: var(--spacing-24);
    }

    h4 {
      text-align: left;
      width: 700px;
      margin-bottom: var(--spacing-8);
      margin-top: var(--spacing-44);
    }

    .stoette {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: var(--spacing-128);
    }
    .julekugler {
      width: 45%;
      margin-top: var(--spacing-24);
    }

    a {
      display: none;
    }
  }

  @media (max-width: 599px) {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px;
    }

    h2 {
      text-align: center;
    }

    .alt_tekst {
      margin-top: var(--spacing-44);
    }

    .tekst {
      display: none;
    }
    h2 {
      text-align: center;
      margin-top: var(--spacing-64);
    }

    h4 {
      text-align: left;
      width: 200px;
      margin-bottom: var(--spacing-8);
      margin-top: var(--spacing-24);
    }

    .stoette {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-16);
      margin-bottom: var(--spacing-128);
    }
    .julekugler {
      width: 100px;
      float: left;
      margin-top: var(--spacing-24);
      margin-right: var(--spacing-64);
    }

    a {
      color: var(--text-link);
    }
  }
</style>
