---
import Button from "../components/Button.astro";
---

<section>
  <ul>
    <li>Tilmeld dig vores nyhedsbrev</li>
    <li>Følg med i vores arbejde mod plastikforuening <br /> og hold dig opdateret <br /> med de sneeste nyheder</li>
    <li><Button /></li>
    <li><input type="text" placeholder="hej@email.dk" /></li>
  </ul>
</section>
