---
import Button from "./Button.astro";
---

<section class="nyhedsbrev">
  <ul>
    <div class="tekst">
      <h2>Tilmeld dig vores nyhedsbrev</h2>
      <p>Følg med i vores arbejde mod plastikforuening og hold dig opdateret med de seneste nyheder</p>
    </div>
    <div class="tekst_og_knap">
      <li><input type="text" placeholder="hej@email.dk" /></li>
      <li><Button link="/" title="tilmeld" /></li>
    </div>
  </ul>
</section>

<style>
  @media (min-width: 1025px) {
    .nyhedsbrev {
      background-color: var(--color-red-100);
      padding: --spacing-24;
      width: 100%;
      padding-block: var(--spacing-32);
    }

    input {
      padding: var(--spacing-16);
      margin-bottom: --spacing-32;
      border-radius: var(--border-16);
      width: 450px;
    }
    input::placeholder {
      font-family: "rubiksemibold";
      font-size: 16px;
      color: var(--text-placeholder);
      padding-top: var(--spacing-16);
    }
    .tekst_og_knap {
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      margin-bottom: var(--spacing-44);
      gap: var(--spacing-44);
    }

    ul {
      list-style-type: none;
    }

    h2 {
      text-align: center;
      margin-bottom: var(--spacing-16);
      margin-top: var(--spacing-44);
    }

    p {
      text-align: center;
      margin-bottom: var(--spacing-44);
    }
  }
</style>
