---
import { Image } from "astro:assets";
import omos from "../assets/images/omos.png";
import omos1 from "../assets/images/omos1.png";
import omos2 from "../assets/images/omos2.png";
import omos3 from "../assets/images/omos3.png";
---

<article>
  <section class="baggrund2">
    <h2 class="overskrift1">Sådan opstod miljøorganisationen Plastic Change</h2>
    <p class="citat">“Plastik definerer vores kultur. Vi må ikke lade den definere vores fremtid” (Henrik Beha Pedersen, 2014)</p>
  </section>
  <div class="container">
    <div class="align">
      <Image class="omos" src={omos} alt="header" />
    </div>
  </div>
  <div>
    <h4>Plastic Change blev grundlagt i april 2014.</h4>
  </div>
  <div class="artikel">
    <p class="text1">
      Initiativet til at stifte Plastic Change blev taget af miljøbiolog Henrik Beha Pedersen i samarbejde med en række frivillige kræfter. Organisationen blev stiftet som en forening hjemme i Henriks dagligstue i Hellerup, hvor den holdt til de første år. I 2017 lykkedes det ved hjælp af fondsbevillinger at få råd til løn til en håndfuld medarbejdere og husleje i rigtige kontorlokaler. Baggrunden for Plastic Changes stiftelse er, at vi lever i en plastikkrise, hvor plastik definerer vores kultur, men hvor vi ikke må lade den defineres vores fremtid. I ly af de altoverskyggende
      klimaforandringer, der med rette har krævet verdens opmærksomhed, er vores problem med plastik vokset og vokset, så det i dag kan fremstå som en uoverskuelig udfordring. Vi har haft en forbrugsfest med plastik, og nu kommer tømmermændene.
      <p class="text2">Baggrunden for Plastic Changes stiftelse er, at vi lever i en plastikkrise, hvor plastik definerer vores kultur, men hvor vi ikke må lade den defineres vores fremtid. I ly af de altoverskyggende klimaforandringer, der med rette har krævet verdens opmærksomhed, er vores problem med plastik vokset og vokset, så det i dag kan fremstå som en uoverskuelig udfordring. Vi har haft en forbrugsfest med plastik, og nu kommer tømmermændene.</p>

      <p class="text3">
        Det meste af den plastik, vi har udledt til naturen, siden vi begyndte at anvende materialet, er stadig at finde derude. Lige så anvendeligt materialet er på grund af sin styrke og holdbarhed, lige så problematisk er materialet, når det ender i naturen. I dag er en lang række af planetens miljøer plastificerede. Vi finder plastik på de dybeste steder i havet, og vi finder det i havfugle, fisk, muslinger og plankton og sågar i honning, vin og øl. Plastikken kommer tilbage til os mennesker gennem vores kost. En boomerang af vores produktionsmønster, der kræver et svar. Det svar skal
        Plastic Change være en del af.
      </p>
    </p>
    <section class="baggrund grid_1-1-1">
      <div class="baggrund1">
        <div class="overskrift-container">
          <h3 class="overskrift">Plastikudfordringen</h3>
        </div>
        <p class="text" id="plastikudfordringen">
          Siden 1950’erne har vi produceret mere end 9 milliarder ton plastik. Heraf er størstedelen blevet brugt til engangsemballager og -produkter med kort levetid og lav markedsværdi. <span class="text-hidden" id="hiddenText"
            >Disse emballager og produkter forurener i hele deres livscyklus: fra udvindingen af olie, til produktion, transport, forbrug, og når de ender til forbrænding eller i naturen. Alt dette for kun at blive brugt én gang. Indenfor de næste 20 år forventes den globale plastikproduktion at fordobles, og i samme periode forventes plastikforureningen at firedobles. Derfor skal vi have lukket for hanen med engangsplastik nu.</span
          >
        </p>
        <p class="readmoretext" id="readMoreBtn">Læs mere</p>
      </div>
      <div class="placering1">
        <Image class="omos1" src={omos1} alt="omos1" />
      </div>
      <div class="baggrund1">
        <div class="overskrift-container">
          <h3 class="overskrift">Vores vision</h3>
        </div>
        <p class="text" id="plasticchange">
          Plastic Changes vision er et affaldsfrit samfund. Visionen handler ikke kun om plastik, men plastik er blevet et symbol på vores engangskultur.<span class="text-hidden" id="hidden-Text"> Derfor arbejder vi for et samfund, hvor alle ressourcer bruges optimalt i lukkede cirkulære systemer. Et samfund, hvor vi har gjort op med engangskulturen og etableret bæredygtige systemer, hvor vi kan bruge vores produkter, emballager og materialer igen og igen. Et affaldsfrit samfund er på den måde både et middel og samtidig et mål.</span>
        </p>
        <p class="readmoretext" id="readMore-Btn">Læs mere</p>
      </div>

      <div class="placering2">
        <Image class="omos2" src={omos2} alt="omos2" />
      </div>
      <div class="baggrund1">
        <div class="overskrift-container">
          <h3 class="overskrift">Vores mission</h3>
        </div>

        <p class="text" id="plastikudfordring">
          Vi vil arbejde for en verden uden plastikforurening. Det gør vi ved at fokusere på løsninger, der reducerer produktion og forbrug af plastik til gavn for både miljø, klima og sundhed. <span class="text-hidden" id="hidden_Text"
            >Da plastikforurening er en global og grænseløs problemstilling, er vi desuden engagerede internationalt som FN observatør, i vores samarbejde med Ellen MacArthur Foundation og ikke mindst i den globale bevægelse BreakFreeFromPlastic, hvor Plastic Change sidder i styregruppen. Vores internationale engagement sikrer, at de globale løsninger når frem til Danmark og omvendt.</span
          >
        </p>
        <p class="readmoretext" id="readMore_Btn">Læs mere</p>
      </div>
      <div class="placering3">
        <Image class="omos3" src={omos3} alt="omos3" />
      </div>
    </section>
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const hiddenTextElement1 = document.getElementById("hiddenText");
      const readMoreButton1 = document.getElementById("readMoreBtn");

      readMoreButton1.addEventListener("click", function () {
        hiddenTextElement1.classList.toggle("text-hidden");
        adjustContainerHeight(hiddenTextElement1);
      });

      const hiddenTextElement2 = document.getElementById("hidden-Text");
      const readMoreButton2 = document.getElementById("readMore-Btn");

      readMoreButton2.addEventListener("click", function () {
        hiddenTextElement2.classList.toggle("text-hidden");
        adjustContainerHeight(hiddenTextElement2);
      });

      const hiddenTextElement3 = document.getElementById("hidden_Text");
      const readMoreButton3 = document.getElementById("readMore_Btn");

      readMoreButton3.addEventListener("click", function () {
        hiddenTextElement3.classList.toggle("text-hidden");
        adjustContainerHeight(hiddenTextElement3);
      });

      function adjustContainerHeight(hiddenTextElement) {
        const containerElement = hiddenTextElement.closest(".baggrund1");
        if (hiddenTextElement.classList.contains("text-hidden")) {
          containerElement.style.height = "400px";
        } else {
          containerElement.style.height = "600px";
        }
      }
    });

    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";
    gsap.registerPlugin(ScrollTrigger);

    gsap.matchMedia().add("(prefers-reduced-motion: no-preference)", () => {
      gsap.from(".text1", {
        xPercent: 50,
        opacity: 3,
        duration: 1,
        // stagger: 0.5,
        scrollTrigger: {
          trigger: ".text1",
          start: "start 100%",
          end: "bottom 50%",
          scrub: true,
          toggleClass: "fade-in-bottom",
        },
      });

      gsap.from(".text2", {
        xPercent: 50,
        opacity: 3,
        duration: 1,
        // stagger: 0.5,
        scrollTrigger: {
          trigger: ".text2",
          start: "start 100%",
          end: "bottom 50%",
          scrub: true,
          toggleClass: "fade-in-bottom",
        },
      });

      gsap.from(".text3", {
        xPercent: 50,
        opacity: 3,
        duration: 1,
        // stagger: 0.5,
        scrollTrigger: {
          trigger: ".text3",
          start: "start 100%",
          end: "bottom 50%",
          scrub: true,
          toggleClass: "fade-in-bottom",
        },
      });
    });
  </script>
</article>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (min-width: 1025px) {
    h4 {
      margin-bottom: var(--spacing-32);
      text-align: center;
      margin-top: var(--spacing-44);
    }
    .baggrund2 {
      background-color: var(--color-red-100);
      padding: var(--spacing-24);
      width: 100%;
      padding-block: var(--spacing-252);
    }
    .readmoretext {
      display: none;
    }
    .container {
      width: 100%;
      height: 100%;
      text-align: center;
    }

    .align {
      display: inline-block;
    }
    .baggrund {
      justify-content: center;
      gap: 40px;
      width: 100%;
      margin-top: var(--spacing-64);
      background-color: var(--color-red-100);
      padding: var(--spacing-16);
    }
    .omos {
      width: 800px;
      height: auto;
      margin-top: -175px;
      border-radius: var(--spacing-16);
    }

    h2 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: -130px;
    }
    .citat {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      margin-top: -30px;
    }

    .text1,
    .text2,
    .text3 {
      width: 700px;
      margin-left: 370px;
      line-height: 25px;
      margin-bottom: var(--spacing-44);
      margin-top: var(--spacing-44);
      /* animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; */
    }

    .fade-in-bottom {
      animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    @keyframes fade-in-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }

    h3 {
      margin-bottom: var(--spacing-32);
      text-align: center;
      margin-top: var(--spacing-44);
    }
    .text {
      text-align: left;
      line-height: 23px;
      margin-left: var(--spacing-32);
      margin-right: var(--spacing-32);
      width: 359px;
      margin-top: 25px;
    }

    .grid_1-1-1 {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
    }
    .baggrund1 {
      background-color: white;
      border-radius: var(--spacing-16);
      width: 400px; /* Juster dette padding efter behov */
      height: 550px;
      margin-left: var(--spacing-32);
      margin-right: var(--spacing-32);
      margin-top: var(--spacing-64);
    }
    .omos1 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 30%;
      margin-bottom: var(--spacing-64);
    }
    .omos2 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 60%;
    }
    .omos3 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 60%;
    }
    .placering1 {
      display: grid;
      grid-column: 3 / 1;
      grid-row: 2 / 2;
    }
    .placering2 {
      display: grid;
      grid-column: 3 /2;
      grid-row: 2 / 2;
    }
    .placering3 {
      display: grid;
      grid-column: 3 / 4;
      grid-row: 2 / 2;
    }

    .omos1 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 30%;
    }
    .omos2 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 60%;
    }
    .omos3 {
      border-radius: var(--spacing-16); /* Juster dette efter behov */
      margin-left: 80px;
      margin-top: -70px;
      width: 60%;
    }
    .placering1 {
      display: grid;
      grid-column: 3 / 1;
      grid-row: 2 / 2;
    }
    .placering2 {
      display: grid;
      grid-column: 3 /2;
      grid-row: 2 / 2;
    }
    .placering3 {
      display: grid;
      grid-column: 3 / 4;
      grid-row: 2 / 2;
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .artikel {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .text {
      text-align: left;
      margin-top: 20px;
      width: 400px;
      margin-left: var(--spacing-32);
    }
    .readmoretext {
      display: none;
    }
    .baggrund2 {
      background-color: var(--color-red-100);
      padding: var(--spacing-128);
    }
    h3 {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
      text-align: center;
    }
    h4 {
      margin-top: var(--spacing-32);
      margin-bottom: var(--spacing-24);
      text-align: center;
    }
    .baggrund {
      background-color: var(--color-red-100);

      padding: var(--spacing-128);
    }

    h2 {
      text-align: center;
      margin-top: 20px;
    }
    p {
      text-align: center;
      margin-top: 20px;
    }
    .omos {
      width: 550px;
      height: auto;
      margin-left: var(--spacing-252);
      margin-top: -85px;
      border-radius: var(--border-16);
    }
    .text1,
    .text2,
    .text3 {
      text-align: left;
      width: 350px;
      line-height: 25px;
    }
    .fade-in-bottom {
      animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    @keyframes fade-in-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .baggrund1 {
      background-color: white;
      border-radius: var(--spacing-16);
      width: 450px; /* Juster dette padding efter behov */
      height: 650px;
      margin-left: var(--spacing-128);
      margin-right: var(--spacing-32);
    }

    .omos1 {
      margin-top: -50px;
      align-content: center;
      margin-bottom: 25px;
      width: 280px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: -65px;
    }
    .omos2 {
      margin-top: -90px;
      align-content: center;
      margin-bottom: 25px;
      width: 280px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: -65px;
    }
    .omos3 {
      margin-top: -50px;
      align-content: center;
      margin-bottom: 25px;
      width: 280px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: -65px;
    }

    .overskrift-container {
      padding: 25px;
      text-align: center;
    }
    .readmoretext {
      color: var(--text-link);
      text-decoration: underline;
      cursor: pointer;
      text-align: left;
      margin-left: 33px;
      font-family: "rubiksemibold";
      font-size: 15px;
      margin-top: var(--spacing-8);
    }

    .placering1 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering2 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering3 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  @media (max-width: 599px) {
    .baggrund2 {
      background-color: var(--color-red-100);
      padding: 70px;
    }
    h3 {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
      text-align: center;
    }
    h4 {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
      text-align: center;
    }
    .baggrund {
      background-color: var(--color-red-100);
      padding: 70px;
    }

    h2 {
      text-align: center;
      margin-top: -3n0px;
    }
    p {
      text-align: center;
      margin-top: 20px;
    }
    .omos {
      width: 300px;
      height: auto;
      margin-left: 55px;
      margin-top: -60px;
      border-radius: var(--border-16);
    }
    .text {
      text-align: left;
      width: 250px;
      line-height: 20px;
      margin-left: var(--spacing-32);
      margin-right: var(--spacing-32);
      margin-top: -10px;
    }
    .baggrund1 {
      background-color: white;
      border-radius: var(--spacing-16);
      height: 400px;
      width: 300px;
      margin-top: var(--spacing-32);
    }
    .text1,
    .text2,
    .text3 {
      text-align: left;
      width: 325px;
      margin-left: 60px;
      line-height: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .fade-in-bottom {
      animation: fade-in-bottom 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    }
    @keyframes fade-in-bottom {
      0% {
        transform: translateY(50px);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
    }
    .omos1 {
      margin-top: -70px;
      align-content: center;
      margin-bottom: 25px;
      width: 200px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: 0px;
    }
    .placering1 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering2 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering3 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .omos2 {
      margin-top: -70px;
      align-content: center;
      margin-bottom: 25px;
      width: 200px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: 0px;
    }
    .omos3 {
      margin-top: -70px;
      align-content: center;
      margin-bottom: 25px;
      width: 200px;
      height: auto;
      border-radius: var(--spacing-16);
      margin-left: 0px;
    }

    .overskrift-container {
      padding: 25px;
      text-align: center;
    }
    .readmoretext {
      color: var(--text-link);
      text-decoration: underline;
      cursor: pointer;
      text-align: left;
      margin-left: 33px;
      font-family: "rubiksemibold";
      font-size: 15px;
      margin-top: var(--spacing-8);
    }

    .text-hidden {
      display: none;
    }
    .placering1 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering2 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    .placering3 {
      display: flex;
      align-items: center;
      align-content: space-between;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }
</style>
