---
import { Image } from "astro:assets";
import omos from "../assets/images/headeromos.png";
import omos1 from "../assets/images/omos1.png";
import omos2 from "../assets/images/omos2.png";
import omos3 from "../assets/images/omos3.png";
---

<article>
  <section class="baggrund">
    <h2>Sådan opstod miljøorganisationen Plastic Change</h2>
    <p class="citat">
      “Plastik definerer vores kultur. Vi må ikke lade den definere vores
      fremtid” (Henrik Beha Pedersen, 2014)
    </p>
  </section>
  <div>
    <Image class="omos" src={omos} alt="header" />
  </div>
  <p class="text1">
    Plastic Change blev grundlagt i april 2014. Initiativet til at stifte
    Plastic Change blev taget af miljøbiolog Henrik Beha Pedersen i samarbejde
    med en række frivillige kræfter. Organisationen blev stiftet som en forening
    hjemme i Henriks dagligstue i Hellerup, hvor den holdt til de første år. I
    2017 lykkedes det ved hjælp af fondsbevillinger at få råd til løn til en
    håndfuld medarbejdere og husleje i rigtige kontorlokaler. Baggrunden for
    Plastic Changes stiftelse er, at vi lever i en plastikkrise, hvor plastik
    definerer vores kultur, men hvor vi ikke må lade den defineres vores
    fremtid. I ly af de altoverskyggende klimaforandringer, der med rette har
    krævet verdens opmærksomhed, er vores problem med plastik vokset og vokset,
    så det i dag kan fremstå som en uoverskuelig udfordring. Vi har haft en
    forbrugsfest med plastik, og nu kommer tømmermændene. Det meste af den
    plastik, vi har udledt til naturen, siden vi begyndte at anvende materialet,
    er stadig at finde derude. Lige så anvendeligt materialet er på grund af sin
    styrke og holdbarhed, lige så problematisk er materialet, når det ender i
    naturen. I dag er en lang række af planetens miljøer plastificerede. Vi
    finder plastik på de dybeste steder i havet, og vi finder det i havfugle,
    fisk, muslinger og plankton og sågar i honning, vin og øl. Plastikken kommer
    tilbage til os mennesker gennem vores kost. En boomerang af vores
    produktionsmønster, der kræver et svar. Det svar skal Plastic Change være en
    del af.
  </p>
  <section class="baggrund grid_1-1-1">
    <div class="baggrund1">
      <h3 class="overskrift">Plastikudfordringen</h3>
      <p class="text">
        Siden 1950’erne har vi produceret mere end 9 milliarder ton plastik.
        Heraf er størstedelen blevet brugt til engangsemballager og -produkter
        med kort levetid og lav markedsværdi. Disse emballager og produkter
        forurener i hele deres livscyklus: fra udvindingen af olie, til
        produktion, transport, forbrug, og når de ender til forbrænding eller i
        naturen. Alt dette for kun at blive brugt én gang. Indenfor de næste 20
        år forventes den globale plastikproduktion at fordobles, og i samme
        periode forventes plastikforureningen at firedobles. Derfor skal vi have
        lukket for hanen med engangsplastik nu.
      </p>
    </div>
    <div class="placering1">
      <Image class="omos1" src={omos1} alt="omos1" />
    </div>
    <div class="baggrund1">
      <h3 class="overskrift">Vores vision</h3>
      <p class="text">
        Plastic Changes vision er et affaldsfrit samfund. Visionen handler ikke
        kun om plastik, men plastik er blevet et symbol på vores engangskultur.
        Derfor arbejder vi for et samfund, hvor alle ressourcer bruges optimalt
        i lukkede cirkulære systemer. Et samfund, hvor vi har gjort op med
        engangskulturen og etableret bæredygtige systemer, hvor vi kan bruge
        vores produkter, emballager og materialer igen og igen. Et affaldsfrit
        samfund er på den måde både et middel og samtidig et mål.
      </p>
    </div>
    <div class="placering2">
      <Image class="omos2" src={omos2} alt="omos2" />
    </div>
    <div class="baggrund1">
      <h3 class="overskrift">Vores mission</h3>

      <p class="text">
        Vi vil arbejde for en verden uden plastikforurening. Det gør vi ved at
        fokusere på løsninger, der reducerer produktion og forbrug af plastik
        til gavn for både miljø, klima og sundhed. Da plastikforurening er en
        global og grænseløs problemstilling, er vi desuden engagerede
        internationalt som FN observatør, i vores samarbejde med Ellen MacArthur
        Foundation og ikke mindst i den globale bevægelse BreakFreeFromPlastic,
        hvor Plastic Change sidder i styregruppen. Vores internationale
        engagement sikrer, at de globale løsninger når frem til Danmark og
        omvendt.
      </p>
    </div>
    <div class="placering3">
      <Image class="omos3" src={omos3} alt="omos3" />
    </div>
  </section>
</article>
<style>
  @media (min-width: 900px) {
    .baggrund {
      background-color: var(--color-red-100);
      padding: 200px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px; /* Juster dette mellemrum efter behov */
    }
    .omos {
      width: 800px;
      height: auto;
      margin-left: 450px;
      margin-top: -200px;
    }
    h2 {
      text-align: center;
      margin-top: -120px;
    }

    .text1 {
      width: 600px;
      margin-left: 550px;
      text-align: left;
    }
    .text {
      text-align: left;
    }
    .citat {
      text-align: center;
    }
    .grid_1-1-1 {
      display: grid | inline-grid;
      grid-template-columns: 1fr 1fr 1fr;
      align-items: start;
    }
    .baggrund1 {
      background-color: white;
      border-radius: 10px;
      padding: 100px; /* Juster dette padding efter behov */
    }
    .omos1 {
      width: 300px; /* Opdateret denne linje */
      height: auto;
      border-radius: 10px; /* Juster dette efter behov */
    }
    .omos2 {
      width: 250px; /* Opdateret denne linje */
      height: auto;
      border-radius: 10px; /* Juster dette efter behov */
    }
    .omos3 {
      width: 240px; /* Opdateret denne linje */
      height: auto;
      border-radius: 10px; /* Juster dette efter behov */
    }
    .placering1 {
      display: grid;
      grid-column: 3 / 1;
      grid-row: 2 / 2;
    }
    .placering2 {
      display: grid;
      grid-column: 3 /2;
      grid-row: 2 / 2;
    }
    .placering3 {
      display: grid;
      grid-column: 3 / 4;
      grid-row: 2 / 2;
    }
  }

  @media (max-width: 500px) {
    .baggrund {
      background-color: var(--color-red-100);
      padding: 70px;
    }
    body {
      display: flex;
      align-items: center;
    }
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
    }
    .omos {
      width: 500px;
      height: auto;
      margin-left: 55px;
      margin-top: -60px;
      border-radius: var(--border-16);
    }
    .text {
      text-align: left;
      width: 250px;
      line-height: 20px;
      margin-left: 25px;
    }
    .baggrund1 {
      background-color: white;
      border-radius: var(--spacing-16);
      padding: 100px;
      margin-top: 10px;
    }
    .text1 {
      text-align: left;
      width: 400px;
      margin-left: 100px;
      line-height: 20px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .omos1 {
      margin-top: -70px;
      margin-left: 60px;
      margin-bottom: 25px;
      width: 350px;
      height: auto;
      border-radius: var(--spacing-16);
    }
    .omos2 {
      margin-top: -70px;
      margin-left: 60px;
      margin-bottom: 25px;
      width: 350px;
      height: auto;
      border-radius: var(--spacing-16);
    }
    .omos3 {
      margin-top: -70px;
      margin-left: 60px;
      margin-bottom: 25px;
      width: 350px;
      height: auto;
      border-radius: var(--spacing-16);
    }
    .overskrift {
      margin-top: -60px;
      text-align: center;
    }
  }
</style>
