---
const { title, color } = Astro.props;
---

<section>
  <div class="circle" style={`--circle-color: ${color};`}>
    <span>{title}</span>
  </div>
</section>

<style>
  @media (min-width: 1025px) {
    .circle {
      width: 64px;
      height: 64px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--circle-color);
      border: 1px solid black;
    }

    .circle[style*="--circle-color: var(--border-accent)"] {
      border: none;
      color: #ffffff;
    }
  }
  @media (max-width: 599px) {
    .circle {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--circle-color);
      border: 1px solid black;
    }

    .circle[style*="--circle-color: var(--border-accent)"] {
      border: none;
      color: #ffffff;
    }
  }
</style>
