---
const { title } = Astro.props;
---

<section>
  <div class="circle"><span>{title}</span></div>
</section>

<style>
  .circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000; /* Ændr tekstfarven efter behov */
  }
</style>
