---
import SlideshowCard from "./SlideshowCard.astro";
import { Image } from "astro:assets";
import pic1 from "../assets/images/pic1.png";
import pic2 from "../assets/images/pic2.png";
---

<div class="carousel-container">
  <SlideshowCard class="card" text="Karsten har købt et støttebevis for 100kr ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>

  <SlideshowCard class="card" text="Julie har købt et støttebevis for 500kr ">
    <Image class="pic2" src={pic2} alt="pic1" />
  </SlideshowCard>

  <SlideshowCard class="card" text="Anton har købt et støttebevis for 200kr ">
    <Image class="pic1" src={pic1} alt="pic1" />
  </SlideshowCard>
</div>

<style>
  @media (max-width: 500px) {
    .carousel-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: var(--color-red-100);
      align-items: center;
      justify-content: center;
      padding-top: var(--spacing-24);
    }

    .pic1,
    .pic2 {
      border-top-right-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    .carousel-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--spacing-24);
      background-color: var(--color-red-100);
      justify-content: center;
      margin-top: 200px;
    }

    .pic1,
    .pic2 {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
      height: 300px;
    }
  }
  @media (min-width: 1025px) {
    .carousel-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: var(--spacing-24);
      background-color: var(--color-red-100);
      justify-content: center;
      margin-top: 200px;
    }

    .pic1,
    .pic2 {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
      height: 300px;
    }
  }
</style>
