---
import VidsteduCard from "./Vidstedu_card.astro";
import { Image } from "astro:assets";
import julesweater1 from "../assets/images/julesweater1.svg";
import kolbe from "../assets/images/kolbe.svg";
import juletrae4 from "../assets/images/juletrae4.svg";
import julegave1 from "../assets/images/julegave1.svg";
---

<h2 class="vidste_du">Vidste du?</h2>
<section class="card_container">
  <VidsteduCard class="placering1" text="Danskere bruger 825 ton gavepapir hver evig eneste jul">
    <Image class="kolbe" src={kolbe} alt="kolbe" />
  </VidsteduCard>
  <VidsteduCard class="placering2" text="Julegaver købt i en netbutik udenfor EU kan nemlig indeholde skadelige kemikalier">
    <Image class="img" src={julegave1} alt="julehave" />
  </VidsteduCard>
  <VidsteduCard class="placering3" text="Et økologisk, ikke-gødet rødgran-juletræ, der er produceret lokalt, er det bedste">
    <Image class="img" src={juletrae4} alt="juletrae" />
  </VidsteduCard>
  <VidsteduCard class="placering4" text="95% af alle julesweatre indeholder plastik, og 40% bruges kun én gang">
    <Image class="julesweater" src={julesweater1} alt="julesweater" />
  </VidsteduCard>
</section>

<style>
  @media (min-width: 900px) {
    h2 {
      margin-bottom: var(--spacing-24);
    }
    .card_container {
      display: flex;
      background-color: var(--color-red-100);
      width: 100%;
      gap: var(--spacing-32);
      justify-content: center;
      background-size: cover;
    }

    .vidste_du {
      margin-block: var(--spacing-32);
      text-align: center;
    }
    .img {
      width: 35%;
      display: flex;
      padding-top: var(--spacing-16);
    }
    .kolbe {
      width: 30%;
    }
    .julesweater {
      width: 70%;
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .vidste_du {
      margin-block: var(--spacing-32);
      text-align: center;
    }
    .card_container {
      background-color: var(--color-red-100);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: var(--spacing-24);
      justify-content: center;
      align-items: center;
      padding: var(--spacing-32);
    }

    .placering1 {
      grid-row: 1;
      grid-column: 1;
    }

    .placering2 {
      grid-row: 1;
      grid-column: 2;
    }

    .placering3 {
      grid-row: 2;
      grid-column: 1;
    }

    .placering4 {
      grid-row: 2;
      grid-column: 2;
    }
    .img {
      width: 35%;
      display: flex;
      padding-top: var(--spacing-16);
    }

    .kolbe {
      width: 30%;
      display: flex;
    }
    .julesweater {
      width: 65%;
      display: flex;
      padding-block: var(--spacing-16);
    }
  }
  @media (max-width: 500px) {
    .vidste_du {
      margin-block: var(--spacing-32);
      text-align: center;
    }
    .card_container {
      background-color: var(--color-red-100);
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: var(--spacing-16);
      justify-content: center;
      align-items: center;
      padding: var(--spacing-32);
    }

    .placering1 {
      grid-row: 1;
      grid-column: 1;
    }

    .placering2 {
      grid-row: 1;
      grid-column: 2;
    }

    .placering3 {
      grid-row: 2;
      grid-column: 1;
    }

    .placering4 {
      grid-row: 2;
      grid-column: 2;
    }
    .img {
      width: 35%;
      display: flex;
      padding-top: var(--spacing-16);
    }

    .kolbe {
      width: 30%;
      display: flex;
    }
    .julesweater {
      width: 67%;
      display: flex;
      padding-block: var(--spacing-16);
    }
  }
</style>
