---
const { text, image } = Astro.props;
---

<section>
  <slot />
  <img src={image} alt="image" />
  <p>{text}</p>
</section>

<style>
  section {
    margin: var(--spacing-16);
    text-align: center;
  }
</style>
