---
import { Image } from "astro:assets";
import mobilepay from "../../assets/images/mobile-pay-logo.svg";
import visa from "../../assets/images/visa-logo.svg";
import dkkort from "../../assets/images/dkkort-logo.svg";
import mastercard from "../../assets/images/mastercard-logo.svg";
import Stepbar from "./Stepbar.astro";
import FormOverskrift from "./FormOverskrift.astro";
import Button from "../Button.astro";
import Menu from "../header/Menu.astro";
---

<Menu variant="form" />
<section>
  <div class="oval-container">
    <div class="oval-section section1"></div>
    <div class="oval-section section2"></div>
    <div class="oval-section section3"></div>
    <div class="oval-section section4"></div>
  </div>
</section>
<FormOverskrift
  titel="Støt os i kampen mod plastikforurening"
  text="Det er kun 5 % I overfladen de resterende 95% ligger langt nede I vandsøjlen"
/>
<section>
  <label>Vælg betalingsform <span>*</span></label>
  <div class="form-control">
    <input type="radio" name="radio" />
    <h4 class="mobilepay">MobilePay</h4>
    <Image class="logo" src={mobilepay} alt="mobilepay logo" />
  </div>
  <div class="form-control">
    <input type="radio" name="radio" />
    <h4>Betalingskort</h4>
    <div class="kort_logo">
      <Image src={visa} alt="visa logo" />
      <Image src={mastercard} alt="mobilepay logo" />
      <Image src={dkkort} alt="dkkort logo" />
    </div>
  </div>
</section>
<div class="buttons">
  <Button variant="secondary" title="← Tilbage" link="/formular/step2" />
  <Button variant="arrow" title="Næste → " link="/formular/step4" />
</div>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  span {
    color: var(--surface-brand);
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--spacing-64);
    margin-block: var(--spacing-128);
    gap: var(--spacing-128);
  }
  input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;
  }
  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: var(--spacing-24);
    height: var(--spacing-24);
    border: 2px solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }
  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--surface-brand);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }

  .form-control {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    gap: var(--spacing-16);
  }
  .radiobutton {
    display: flex;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-16);
    margin-top: var(--spacing-16);
  }
  h4 {
    margin-right: var(--spacing-32);
  }
  .mobilepay {
    padding-right: 89px;
  }
  .kort_logo {
    display: inline-flex;
    gap: var(--spacing-8);
  }
  section {
    margin-top: var(--spacing-44);
    margin-bottom: var(--spacing-32);
  }
  .oval-container {
    position: relative;
    width: 700px;
    height: 16px;
    overflow: hidden;
    border: var(--border-1) solid var(--border-dark);
  }

  .oval-section {
    position: absolute;
    height: 100%;
  }

  .section1 {
    left: 10%;
    width: 20%;
    border: 1px solid var(--border-dark);
    border-bottom-left-radius: var(--border-16);
    border-top-left-radius: var(--border-16);
  }
  .section2 {
    left: 30%;
    width: 20%;
    border: 1px solid var(--border-dark);
  }
  .section3 {
    left: 50%;
    width: 20%;
    border: 1px solid var(--border-dark);
    background-color: var(--color-red-300);
  }
  .section4 {
    left: 70%;
    width: 20%;
    border: 1px solid var(--border-dark);
    border-bottom-right-radius: var(--border-16);
    border-top-right-radius: var(--border-16);
  }

  @media (max-width: 599px) {
    .logo {
      width: 5%;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-44);
      margin-block: var(--spacing-64);
      gap: var(--spacing-44);
    }
    section {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 340px;
      height: 8px;
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 10%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 30%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section3 {
      left: 50%;
      width: 20%;
      border: 1px solid var(--border-dark);
      background-color: var(--color-red-300);
    }
    .section4 {
      left: 70%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .logo {
      width: 5%;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-64);
    }

    section {
      margin-top: var(--spacing-32);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 500px;
      height: 13px;
      border-radius: var(--border-16);
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 0%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 20%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section3 {
      left: 40%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section4 {
      left: 60%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
  }
  @media (min-width: 900px) {
    .logo {
      width: 5%;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-128);
      gap: 300px;
    }
  }
</style>
