---
import Button from "../Button.astro";
import Menu from "../header/Menu.astro";
import Stepbar from "./Stepbar.astro";
import Input from "../Input.astro";
import FormOverskrift from "./FormOverskrift.astro";
---

<Menu variant="form" />
<section>
  <div class="oval-container">
    <div class="oval-section section1"></div>
    <div class="oval-section section2"></div>
    <div class="oval-section section3"></div>
    <div class="oval-section section4"></div>
  </div>
</section>
<FormOverskrift
  titel="Støt os i kampen mod plastikforurening"
  text="Vi udleder I dag 8 - 10 millioner ton plastik til havet om året"
/>
<div class="inputs">
  <Input label="Navn" placeholder="Liva" />
  <Input label="Efternavn" placeholder="Sørensen" />
  <Input label="Email" placeholder="liva@hej.dk" />
  <Input label="Telefon" placeholder="24508236" />
  <Input label="Adresse" placeholder="Hurlumhejvej 84" />
  <Input label="Postnummer" placeholder="3300" />
</div>
<section class="checkboxs">
  <label id="checkbox">
    <input type="checkbox" id="myCheckbox" />
    Jeg giver mit samtykke til, at Plastic Change må opbevare og behandle mine oplysninger
    til brug i forbindelse med min støtte. Læs mere om dette samtykke i vores privatlivspolitik.
  </label>
  <label id="checkbox">
    <input type="checkbox" id="myCheckbox" />
    Jeg ønsker at modtage nyhedsbreve
  </label>
</section>
<div class="buttons">
  <Button variant="secondary" title="← Tilbage" link="/formular/step1" />
  <Button variant="arrow" title="Næste → " link="/formular/step3" />
</div>

<style>
  .checkboxs {
    margin-top: var(--spacing-64);
    margin-bottom: var(--spacing-64);
  }

  #checkbox {
    font-family: "rubikregular";
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    color: var(--text-placeholder);
    display: flex;
    align-items: center;
    gap: var(--spacing-16);
    max-width: 800px;
    margin-inline: var(--spacing-64);
    padding-bottom: var(--spacing-16);
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 599px) {
    .inputs {
      display: grid;
      grid-column: 1fr;
      row-gap: var(--spacing-24);
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      gap: var(--spacing-128);
    }
    #checkbox {
      font-family: "rubikregular";
      font-size: 11px;
      font-weight: 200;
      line-height: 20px;
      color: var(--text-placeholder);
      display: flex;
      align-items: center;
      gap: var(--spacing-16);
      max-width: 800px;
      margin: var(--spacing-24);
    }
  }
  @media (min-width: 1025px) {
    section {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 700px;
      height: 16px;
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 0%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 20%;
      width: 20%;
      border: 1px solid var(--border-dark);
      background-color: var(--color-red-300);
    }
    .section3 {
      left: 40%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section4 {
      left: 60%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-right-radius: var(--border-16);
      border-top-right-radius: var(--border-16);
    }

    .inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: var(--spacing-128);
      row-gap: var(--spacing-16);
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      max-width: 800px;
      gap: var(--spacing-252);
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .inputs {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: var(--spacing-24);
    }
  }
</style>
