---
import Stepbar from "./Stepbar.astro";
import Menu from "../header/Menu.astro";
import FormOverskrift from "./FormOverskrift.astro";
import Button from "../Button.astro";
import InputForm1 from "../InputForm1.astro";
import Prisbutton from "../Prisbutton.astro";
import Formularcard from "../Formular/Formularcard.astro";
import { Image } from "astro:assets";
import pic1 from "../../assets/images/støttebeviskop.png";
import pic2 from "../../assets/images/støttebevis.png";

import SlideshowCard from "../SlideshowCard.astro";
---

<Menu variant="form" />
<Stepbar />
<FormOverskrift titel="Giv støtte som en julegave." />
<section>
  <div class="kort flex">
    <Formularcard
      class="card"
      text=" Unikt emaljekrus fra Plastic Change - inklusive et print-selv støttebevis. (Bemærk: Ramme medfølger ikke.) "
    >
      <Image class="støttebeviskop" src={pic1} alt="pic1" />
    </Formularcard>

    <Formularcard
      class="card"
      text=" Unikt Plastic Change emaljekrus - samt et print selv støttebevis.(Ramme medfølger ikke) 450kr. "
    >
      <Image class="støttebevis" src={pic2} alt="pic1" />
    </Formularcard>
  </div>
</section>
<div>
  <label> Vælg dit engangs beløb <span class="farve">*</span></label>
</div>

<div class="border spacing">
  <InputForm1 placeholder="Andet beløb" />
</div>
<div class="buttons">
  <Button variant="secondary" title="← Tilbage" link="/formular/step1" />
  <Button variant="arrow" title="Næste → " link="/formular/step2" />
</div>

<style>
  @media (min-width: 1025px) {
    .flex {
      display: flex;
      gap: 10%;
      flex-direction: row;
      justify-content: center;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-128);
      gap: var(--spacing-128);
    }

    .baggrund {
      background-color: var(--color-red-100);
      padding: 200px;
      margin-top: var(--spacing-252);
    }

    .inputs {
      margin-top: var(--spacing-32);
    }
    .farve {
      color: var(--color-red-300);
    }
    .flex-container {
      display: flex;
      gap: var(--spacing-24);

      margin-top: var(--spacing-32);
    }
    h2,
    p {
      text-align: center;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .spacing {
      margin-top: var(--spacing-32);
    }
    .støttebeviskop {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
      opacity: 0.5;
    }

    .støttebeviskop:hover {
      transform: scale(1);
      opacity: 1;
    }
    .støttebevis {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
      opacity: 0.5;
    }

    .støttebevis:hover {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media (max-width: 500px) {
    .flex {
      display: flex;
      gap: 5%;
      flex-direction: row;
      justify-content: center;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-44);
      gap: var(--spacing-44);
    }
    .pic1 {
      border-radius: var(--spacing-16);
      width: 263px;
      height: 325px;
    }
    .pic2 {
      border-radius: var(--spacing-16);
      width: 263px;
      height: 325px;
    }
    .pic3 {
      border-radius: var(--spacing-16);
      width: 263px;
      height: 325px;
    }

    .baggrund {
      background-color: var(--color-red-100);
    }

    .ptag {
      color: var(--color-mud-200);
    }
    .inputs {
      margin-top: var(--spacing-32);
    }
    .farve {
      color: var(--color-red-300);
    }
    .flex-container {
      display: flex;
      gap: var(--spacing-24);

      margin-top: var(--spacing-32);
    }
    h2,
    p {
      text-align: center;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buttons {
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-top: var(--spacing-64);
      margin-bottom: var(--spacing-64);
    }
    .støttebeviskop {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
    }
    .støttebevis {
      border-top-right-radius: var(--spacing-16);
      border-top-left-radius: var(--spacing-16);
    }
  }
</style>
