---
import Stepbar from "./Stepbar.astro";
import Menu from "../header/Menu.astro";
import Button from "../Button.astro";
import FormOverskrift from "./FormOverskrift.astro";
---

<Menu variant="form" />
<Stepbar />
<FormOverskrift titel="Støt os i kampen mod plastikforurening" text="Mennesket har ret til et miljø uden plastikforurening." />
<section>
  <p>Mange tak for din donation på 300 kr. eller mere. Som tak vil vi sende dig et eksklusivt krus inden for 1-2 hverdage. Samtidig har du modtaget et kort via e-mail – husk at tjekke din spam-mappe.</p>
  <div class="buttons">
    <Button variant="secondary" title="← Tilbage" link="/formular/step3" />
    <Button variant="arrow" title="Næste → " link="/" />
  </div>
</section>
<style>
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--spacing-64);
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    font-family: "rubikregular";
    line-height: 20px;
    color: var(--text-placeholder);
    align-items: center;
    gap: var(--spacing-16);
    max-width: 800px;
  }
  @media (max-width: 599px) {
    p {
      margin-inline: var(--spacing-44);
      margin-bottom: var(--spacing-128);
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    p {
      margin-inline: var(--spacing-64);
      font-size: 18px;
      margin-bottom: var(--spacing-128);
    }
  }
  @media (min-width: 1025px) {
    p {
      text-align: center;
      margin-bottom: var(--spacing-128);
    }
  }
</style>
