---
import { Image } from "astro:assets";
import pic1 from "../assets/images/pic1.png";
import Stepbar from "./Stepbar.astro";
import Menu from "../header/Menu.astro";
import FormOverskrift from "./FormOverskrift.astro";
import Button from "../Button.astro";
import Input from "../Input.astro";
import Prisbutton from "../Prisbutton.astro";
---

<Menu variant="form" />
<Stepbar />
<FormOverskrift
  titel="Giv en donation som en gave"
  text="Er beløbet  300kr. eller over modtager du et krus som tak"
/>

<div>
  <p class="ptag">Vælg dit månedelige beløb <span class="farve">*</span></p>
</div>

<div class="flex-container">
  <Prisbutton title="100" />
  <Prisbutton title="200" />
  <Prisbutton title="300" color="var(--border-accent)" />
</div>
<div class="border spacing">
  <Input placeholder="Andet beløb" />
</div>

<section>
  <div class="buttons">
    <Button variant="secondary" title="← Tilbage" link="../Landingsite" />
    <Button variant="arrow" title="Næste → " link="/formular/step2" />
  </div>
</section>
<section></section>

<style>
  @media (min-width: 1025px) {
    .ptag {
      color: var(--color-mud-200);
    }
    .inputs {
      margin-top: var(--spacing-32);
    }
    .farve {
      color: var(--color-red-300);
    }
    .flex-container {
      display: flex;
      gap: var(--spacing-24);

      margin-top: var(--spacing-32);
    }
    h2,
    p {
      text-align: center;
    }

    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .buttons {
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-top: var(--spacing-64);
      margin-bottom: var(--spacing-64);
    }
    .spacing {
      margin-top: var(--spacing-32);
    }
  }

  @media (max-width: 500px) {
  }
</style>
