---
import { Image } from "astro:assets";
import mobilepay from "../../assets/images/mobile-pay-logo.svg";
import visa from "../../assets/images/visa-logo.svg";
import dkkort from "../../assets/images/dkkort-logo.svg";
import mastercard from "../../assets/images/mastercard-logo.svg";
import Stepbar from "./Stepbar.astro";
import FormOverskrift from "./FormOverskrift.astro";
import Button from "../Button.astro";
import Menu from "../header/Menu.astro";
---

<Menu variant="form" />
<Stepbar />
<FormOverskrift titel="Støt os i kampen mod plastikforurening" text="Det er kun 5 % I overfladen de resterende 95% ligger langt nede I vandsøjlen" />
<section>
  <label>Vælg betalingsform <span>*</span></label>
  <div class="radiobutton">
    <input type="radio" name="radio" />
    <h4 class="mobilepay">MobilePay</h4>
    <Image class="logo" src={mobilepay} alt="mobilepay logo" />
  </div>
  <div class="radiobutton">
    <input type="radio" name="radio" />
    <h4>Betalingskort</h4>
    <div class="kort_logo">
      <Image src={visa} alt="visa logo" />
      <Image src={mastercard} alt="mobilepay logo" />
      <Image src={dkkort} alt="dkkort logo" />
    </div>
  </div>
</section>
<div class="buttons">
  <Button variant="secondary" title="← Tilbage" link="/formular/step2" />
  <Button variant="arrow" title="Næste → " link="/formular/step4" />
</div>

<style>
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  span {
    color: var(--surface-brand);
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--spacing-64);
    margin-block: var(--spacing-128);
    gap: var(--spacing-128);
  }
  .radiobutton {
    display: flex;
    gap: var(--spacing-16);
    margin-bottom: var(--spacing-16);
    margin-top: var(--spacing-16);
  }
  h4 {
    margin-right: var(--spacing-32);
  }
  .mobilepay {
    padding-right: 89px;
  }
  .kort_logo {
    display: inline-flex;
    gap: var(--spacing-8);
  }
  @media (max-width: 599px) {
    .logo {
      width: 5%;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-44);
      gap: var(--spacing-44);
    }
  }
  @media (min-width: 600px) and (max-width: 1024px) {
    .logo {
      width: 5%;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-64);
    }
  }
  @media (min-width: 900px) {
    .logo {
      width: 5%;
    }
    .buttons {
      display: flex;
      justify-content: space-between;
      margin-inline: var(--spacing-64);
      margin-block: var(--spacing-128);
      gap: 300px;
    }
  }
</style>
