---
const { text } = Astro.props;
---

<section>
  <slot />

  <p class="tekst">{text}</p>
</section>
<style>
  .tekst {
    background-color: white;

    border-radius: var(--spacing-16);

    padding: 38px;
    margin: -10px;
    margin-left: var(--spacing-32);
    margin-right: var(--spacing-32);
  }
</style>
