---
const { text } = Astro.props;
---

<section>
  <slot />

  <p class="tekst">{text}</p>
</section>
<style>
  .tekst {
    display: flex;

    align-items: center;
    background-color: var(--color-white-100);

    margin-bottom: var(--spacing-64);
    text-align: center;
    border-radius: var(--spacing-16);
    padding-top: var(--spacing-24);
    gap: var(--spacing-64);
  }
</style>
