---
const { text, pris, overskrift } = Astro.props;
---

<section id="myElement">
  <slot />
  <p class="overskrift">{overskrift}</p><p class="tekst">{text}</p>
  <p class="pris">{pris}</p>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var myElement = document.getElementById("myElement");

    myElement.addEventListener("click", function () {
      this.classList.toggle("active");
    });
  });
</script>
<style>
  section:hover {
    transform: scale(1.07);
  }

  section.active {
    transform: scale(1.07);
    border-color: var(--color-red-300);
  }

  @media (min-width: 1025px) {
    section {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white-100);
      margin-bottom: var(--spacing-24);
      text-align: left;
      border-radius: var(--spacing-16);
      gap: var(--spacing-8);
      justify-content: space-between;
      max-width: 20%;
      padding-bottom: var(--spacing-16);
      border: solid var(--border-3) var(--color-green-100);
      transition: background-color 0.3s ease, transform 0.3s ease-in-out;
      cursor: pointer;
    }
    .tekst {
      padding-inline: var(--spacing-8);
      font-size: 14px;
    }
    .overskrift {
      padding-inline: var(--spacing-8);
      font-weight: 300;
      font-family: "rubiksemibold";
      font-size: 16px;
      text-align: left;
    }
    .pris {
      color: var(--color-red-300);
      font-family: "rubik";
      padding-right: var(--spacing-8);
      text-align: right;
    }
  }

  @media (max-width: 599px) {
    section {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white-100);
      margin-bottom: var(--spacing-24);
      text-align: center;
      border-radius: var(--spacing-16);
      gap: var(--spacing-8);
      justify-content: center;
      align-items: center;
      max-width: 45%;
      padding-bottom: var(--spacing-16);
      border: solid var(--border-3) var(--color-green-100);
    }
    p {
      padding-inline: var(--spacing-8);
    }
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    section {
      display: flex;
      flex-direction: column;
      background-color: var(--color-white-100);
      margin-bottom: var(--spacing-24);
      text-align: center;
      border-radius: var(--spacing-16);
      gap: var(--spacing-8);
      justify-content: center;
      align-items: center;
      max-width: 40%;
      padding-bottom: var(--spacing-16);
      border: solid var(--border-3) var(--color-green-100);
    }
    p {
      padding-inline: var(--spacing-8);
    }
  }
</style>
