---
import Button from "../Button.astro";
import Menu from "../header/Menu.astro";
import Stepbar from "./Stepbar.astro";
import Input from "../Input.astro";
---

<Menu variant="form" />
<Stepbar />
<section>
  <h2>Støt os i kampen mod plastikforurening</h2>
  <p>Vi udleder I dag 8 - 10 millioner ton plastik til havet om året</p>
</section>
<section class="grid-1-1">
  <Input label="Navn" placeholder="Liva">
    <label>Efternavn</label>
    <input type="text" class="border" placeholder="Sørensen" />
    <label>Email</label>
    <input type="email" class="border" placeholder="liva@hej.dk" />
    <label>Telefon</label>
    <input type="tel" class="border" placeholder="24508236" />
    <label>Adresse</label>
    <input type="text" class="border" placeholder="Hurlumhejvej 84" />
    <label>Postnummer</label>
    <input type="text" class="border" placeholder="3300" />
  </Input>
  <section>
    <p>Jeg giver mit samtykke til, at Plastic Change må opbevare og behandle mine oplysninger til brug i forbindelse med min støtte. Læs mere om dette samtykke i vores privatlivspolitik.</p>
  </section>
  <Button variant="secondary" title="← Tilbage" />
  <Button variant="arrow" title="Næste → " />
  <style>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    @media (min-width: 900px) {
      .border {
        border: 1px solid black;
        margin: 5px;
      }
    }

    @media (max-width: 500px) {
    }
  </style>
</section>
