---
import Stepbar from "./Stepbar.astro";
import Menu from "../header/Menu.astro";
import Button from "../Button.astro";
import FormOverskrift from "./FormOverskrift.astro";
---

<Menu variant="form" />
<section>
  <div class="oval-container">
    <div class="oval-section section1"></div>
    <div class="oval-section section2"></div>
    <div class="oval-section section3"></div>
    <div class="oval-section section4"></div>
  </div>
</section>
<FormOverskrift
  titel="Støt os i kampen mod plastikforurening"
  text="Mennesket har ret til et miljø uden plastikforurening."
/>
<section>
  <p>
    Mange tak for din donation på 300 kr. eller mere. Som tak vil vi sende dig
    et eksklusivt krus inden for 1-2 hverdage. Samtidig har du modtaget et kort
    via e-mail – husk at tjekke din spam-mappe.
  </p>
  <div class="buttons">
    <Button variant="secondary" title="← Tilbage" link="/formular/step3" />
    <Button variant="arrow" title="Afslut → " link="/" />
  </div>
</section>
<style>
  .buttons {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--spacing-64);
  }
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  section {
    font-family: "rubikregular";
    line-height: 20px;
    color: var(--text-placeholder);
    align-items: center;
    gap: var(--spacing-16);
    max-width: 800px;
  }

  @media (max-width: 599px) {
    section {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 340px;
      height: 8px;
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 10%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 30%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section3 {
      left: 50%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section4 {
      left: 70%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-right-radius: var(--border-16);
      border-top-right-radius: var(--border-16);
      background-color: var(--color-red-300);
    }
  }

  p {
    margin-inline: var(--spacing-44);
    margin-bottom: var(--spacing-128);
  }

  @media (min-width: 600px) and (max-width: 1024px) {
    p {
      margin-inline: var(--spacing-64);
      font-size: 18px;
      margin-bottom: var(--spacing-128);
    }

    section {
      margin-top: var(--spacing-32);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 500px;
      height: 13px;
      border-radius: var(--border-16);
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 10%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 30%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section3 {
      left: 50%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section4 {
      left: 70%;
      width: 20%;
      border: 1px solid var(--border-dark);

      border-bottom-right-radius: var(--border-16);
      border-top-right-radius: var(--border-16);
      background-color: var(--color-red-300);
    }
  }
  @media (min-width: 1025px) {
    p {
      text-align: center;
      margin-bottom: var(--spacing-128);
    }
    section {
      margin-top: var(--spacing-44);
      margin-bottom: var(--spacing-32);
    }
    .oval-container {
      position: relative;
      width: 700px;
      height: 16px;
      overflow: hidden;
      border: var(--border-1) solid var(--border-dark);
    }

    .oval-section {
      position: absolute;
      height: 100%;
    }

    .section1 {
      left: 10%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-left-radius: var(--border-16);
      border-top-left-radius: var(--border-16);
    }
    .section2 {
      left: 30%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section3 {
      left: 50%;
      width: 20%;
      border: 1px solid var(--border-dark);
    }
    .section4 {
      left: 70%;
      width: 20%;
      border: 1px solid var(--border-dark);
      border-bottom-right-radius: var(--border-16);
      border-top-right-radius: var(--border-16);
      background-color: var(--color-red-300);
    }
  }
</style>
