---
import { Image } from "astro:assets";
import julesweater1 from "../assets/images/julesweater1.svg";
import kolbe from "../assets/images/kolbe.svg";
import juletrae4 from "../assets/images/juletrae4.svg";
import julegave1 from "../assets/images/julegave1.svg";
---

<section>
  <div class="card">
    <Image class="julesweater1" src={julesweater1} alt="julesweater1" />
    <Image class="juletrae4" src={juletrae4} alt="juletrae4" />
    <Image class="julesweater1" src={julesweater1} alt="julesweater1" />
    <Image class="kolbe" src={kolbe} alt="kolbe" />
  </div>
</section>
